
@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-ryanc-thin.woff2') format('woff2'), url('woff/iosevka-ryanc-thin.woff') format('woff'), url('ttf/iosevka-ryanc-thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/iosevka-ryanc-extendedthin.woff2') format('woff2'), url('woff/iosevka-ryanc-extendedthin.woff') format('woff'), url('ttf/iosevka-ryanc-extendedthin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-ryanc-thinitalic.woff2') format('woff2'), url('woff/iosevka-ryanc-thinitalic.woff') format('woff'), url('ttf/iosevka-ryanc-thinitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/iosevka-ryanc-extendedthinitalic.woff2') format('woff2'), url('woff/iosevka-ryanc-extendedthinitalic.woff') format('woff'), url('ttf/iosevka-ryanc-extendedthinitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-ryanc-thinoblique.woff2') format('woff2'), url('woff/iosevka-ryanc-thinoblique.woff') format('woff'), url('ttf/iosevka-ryanc-thinoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('woff2/iosevka-ryanc-thinoblique.woff2') format('woff2'), url('woff/iosevka-ryanc-thinoblique.woff') format('woff'), url('ttf/iosevka-ryanc-thinoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/iosevka-ryanc-extendedthinoblique.woff2') format('woff2'), url('woff/iosevka-ryanc-extendedthinoblique.woff') format('woff'), url('ttf/iosevka-ryanc-extendedthinoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('woff2/iosevka-ryanc-extendedthinoblique.woff2') format('woff2'), url('woff/iosevka-ryanc-extendedthinoblique.woff') format('woff'), url('ttf/iosevka-ryanc-extendedthinoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-ryanc-extralight.woff2') format('woff2'), url('woff/iosevka-ryanc-extralight.woff') format('woff'), url('ttf/iosevka-ryanc-extralight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/iosevka-ryanc-extendedextralight.woff2') format('woff2'), url('woff/iosevka-ryanc-extendedextralight.woff') format('woff'), url('ttf/iosevka-ryanc-extendedextralight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-ryanc-extralightitalic.woff2') format('woff2'), url('woff/iosevka-ryanc-extralightitalic.woff') format('woff'), url('ttf/iosevka-ryanc-extralightitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/iosevka-ryanc-extendedextralightitalic.woff2') format('woff2'), url('woff/iosevka-ryanc-extendedextralightitalic.woff') format('woff'), url('ttf/iosevka-ryanc-extendedextralightitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-ryanc-extralightoblique.woff2') format('woff2'), url('woff/iosevka-ryanc-extralightoblique.woff') format('woff'), url('ttf/iosevka-ryanc-extralightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('woff2/iosevka-ryanc-extralightoblique.woff2') format('woff2'), url('woff/iosevka-ryanc-extralightoblique.woff') format('woff'), url('ttf/iosevka-ryanc-extralightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/iosevka-ryanc-extendedextralightoblique.woff2') format('woff2'), url('woff/iosevka-ryanc-extendedextralightoblique.woff') format('woff'), url('ttf/iosevka-ryanc-extendedextralightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('woff2/iosevka-ryanc-extendedextralightoblique.woff2') format('woff2'), url('woff/iosevka-ryanc-extendedextralightoblique.woff') format('woff'), url('ttf/iosevka-ryanc-extendedextralightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-ryanc-light.woff2') format('woff2'), url('woff/iosevka-ryanc-light.woff') format('woff'), url('ttf/iosevka-ryanc-light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/iosevka-ryanc-extendedlight.woff2') format('woff2'), url('woff/iosevka-ryanc-extendedlight.woff') format('woff'), url('ttf/iosevka-ryanc-extendedlight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-ryanc-lightitalic.woff2') format('woff2'), url('woff/iosevka-ryanc-lightitalic.woff') format('woff'), url('ttf/iosevka-ryanc-lightitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/iosevka-ryanc-extendedlightitalic.woff2') format('woff2'), url('woff/iosevka-ryanc-extendedlightitalic.woff') format('woff'), url('ttf/iosevka-ryanc-extendedlightitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-ryanc-lightoblique.woff2') format('woff2'), url('woff/iosevka-ryanc-lightoblique.woff') format('woff'), url('ttf/iosevka-ryanc-lightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('woff2/iosevka-ryanc-lightoblique.woff2') format('woff2'), url('woff/iosevka-ryanc-lightoblique.woff') format('woff'), url('ttf/iosevka-ryanc-lightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/iosevka-ryanc-extendedlightoblique.woff2') format('woff2'), url('woff/iosevka-ryanc-extendedlightoblique.woff') format('woff'), url('ttf/iosevka-ryanc-extendedlightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('woff2/iosevka-ryanc-extendedlightoblique.woff2') format('woff2'), url('woff/iosevka-ryanc-extendedlightoblique.woff') format('woff'), url('ttf/iosevka-ryanc-extendedlightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-ryanc-regular.woff2') format('woff2'), url('woff/iosevka-ryanc-regular.woff') format('woff'), url('ttf/iosevka-ryanc-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/iosevka-ryanc-extended.woff2') format('woff2'), url('woff/iosevka-ryanc-extended.woff') format('woff'), url('ttf/iosevka-ryanc-extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-ryanc-italic.woff2') format('woff2'), url('woff/iosevka-ryanc-italic.woff') format('woff'), url('ttf/iosevka-ryanc-italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/iosevka-ryanc-extendeditalic.woff2') format('woff2'), url('woff/iosevka-ryanc-extendeditalic.woff') format('woff'), url('ttf/iosevka-ryanc-extendeditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-ryanc-oblique.woff2') format('woff2'), url('woff/iosevka-ryanc-oblique.woff') format('woff'), url('ttf/iosevka-ryanc-oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('woff2/iosevka-ryanc-oblique.woff2') format('woff2'), url('woff/iosevka-ryanc-oblique.woff') format('woff'), url('ttf/iosevka-ryanc-oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/iosevka-ryanc-extendedoblique.woff2') format('woff2'), url('woff/iosevka-ryanc-extendedoblique.woff') format('woff'), url('ttf/iosevka-ryanc-extendedoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('woff2/iosevka-ryanc-extendedoblique.woff2') format('woff2'), url('woff/iosevka-ryanc-extendedoblique.woff') format('woff'), url('ttf/iosevka-ryanc-extendedoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-ryanc-medium.woff2') format('woff2'), url('woff/iosevka-ryanc-medium.woff') format('woff'), url('ttf/iosevka-ryanc-medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/iosevka-ryanc-extendedmedium.woff2') format('woff2'), url('woff/iosevka-ryanc-extendedmedium.woff') format('woff'), url('ttf/iosevka-ryanc-extendedmedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-ryanc-mediumitalic.woff2') format('woff2'), url('woff/iosevka-ryanc-mediumitalic.woff') format('woff'), url('ttf/iosevka-ryanc-mediumitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/iosevka-ryanc-extendedmediumitalic.woff2') format('woff2'), url('woff/iosevka-ryanc-extendedmediumitalic.woff') format('woff'), url('ttf/iosevka-ryanc-extendedmediumitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-ryanc-mediumoblique.woff2') format('woff2'), url('woff/iosevka-ryanc-mediumoblique.woff') format('woff'), url('ttf/iosevka-ryanc-mediumoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('woff2/iosevka-ryanc-mediumoblique.woff2') format('woff2'), url('woff/iosevka-ryanc-mediumoblique.woff') format('woff'), url('ttf/iosevka-ryanc-mediumoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/iosevka-ryanc-extendedmediumoblique.woff2') format('woff2'), url('woff/iosevka-ryanc-extendedmediumoblique.woff') format('woff'), url('ttf/iosevka-ryanc-extendedmediumoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('woff2/iosevka-ryanc-extendedmediumoblique.woff2') format('woff2'), url('woff/iosevka-ryanc-extendedmediumoblique.woff') format('woff'), url('ttf/iosevka-ryanc-extendedmediumoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-ryanc-semibold.woff2') format('woff2'), url('woff/iosevka-ryanc-semibold.woff') format('woff'), url('ttf/iosevka-ryanc-semibold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/iosevka-ryanc-extendedsemibold.woff2') format('woff2'), url('woff/iosevka-ryanc-extendedsemibold.woff') format('woff'), url('ttf/iosevka-ryanc-extendedsemibold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-ryanc-semibolditalic.woff2') format('woff2'), url('woff/iosevka-ryanc-semibolditalic.woff') format('woff'), url('ttf/iosevka-ryanc-semibolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/iosevka-ryanc-extendedsemibolditalic.woff2') format('woff2'), url('woff/iosevka-ryanc-extendedsemibolditalic.woff') format('woff'), url('ttf/iosevka-ryanc-extendedsemibolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-ryanc-semiboldoblique.woff2') format('woff2'), url('woff/iosevka-ryanc-semiboldoblique.woff') format('woff'), url('ttf/iosevka-ryanc-semiboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('woff2/iosevka-ryanc-semiboldoblique.woff2') format('woff2'), url('woff/iosevka-ryanc-semiboldoblique.woff') format('woff'), url('ttf/iosevka-ryanc-semiboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/iosevka-ryanc-extendedsemiboldoblique.woff2') format('woff2'), url('woff/iosevka-ryanc-extendedsemiboldoblique.woff') format('woff'), url('ttf/iosevka-ryanc-extendedsemiboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('woff2/iosevka-ryanc-extendedsemiboldoblique.woff2') format('woff2'), url('woff/iosevka-ryanc-extendedsemiboldoblique.woff') format('woff'), url('ttf/iosevka-ryanc-extendedsemiboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-ryanc-bold.woff2') format('woff2'), url('woff/iosevka-ryanc-bold.woff') format('woff'), url('ttf/iosevka-ryanc-bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/iosevka-ryanc-extendedbold.woff2') format('woff2'), url('woff/iosevka-ryanc-extendedbold.woff') format('woff'), url('ttf/iosevka-ryanc-extendedbold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-ryanc-bolditalic.woff2') format('woff2'), url('woff/iosevka-ryanc-bolditalic.woff') format('woff'), url('ttf/iosevka-ryanc-bolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/iosevka-ryanc-extendedbolditalic.woff2') format('woff2'), url('woff/iosevka-ryanc-extendedbolditalic.woff') format('woff'), url('ttf/iosevka-ryanc-extendedbolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-ryanc-boldoblique.woff2') format('woff2'), url('woff/iosevka-ryanc-boldoblique.woff') format('woff'), url('ttf/iosevka-ryanc-boldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('woff2/iosevka-ryanc-boldoblique.woff2') format('woff2'), url('woff/iosevka-ryanc-boldoblique.woff') format('woff'), url('ttf/iosevka-ryanc-boldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/iosevka-ryanc-extendedboldoblique.woff2') format('woff2'), url('woff/iosevka-ryanc-extendedboldoblique.woff') format('woff'), url('ttf/iosevka-ryanc-extendedboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('woff2/iosevka-ryanc-extendedboldoblique.woff2') format('woff2'), url('woff/iosevka-ryanc-extendedboldoblique.woff') format('woff'), url('ttf/iosevka-ryanc-extendedboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-ryanc-extrabold.woff2') format('woff2'), url('woff/iosevka-ryanc-extrabold.woff') format('woff'), url('ttf/iosevka-ryanc-extrabold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/iosevka-ryanc-extendedextrabold.woff2') format('woff2'), url('woff/iosevka-ryanc-extendedextrabold.woff') format('woff'), url('ttf/iosevka-ryanc-extendedextrabold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-ryanc-extrabolditalic.woff2') format('woff2'), url('woff/iosevka-ryanc-extrabolditalic.woff') format('woff'), url('ttf/iosevka-ryanc-extrabolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/iosevka-ryanc-extendedextrabolditalic.woff2') format('woff2'), url('woff/iosevka-ryanc-extendedextrabolditalic.woff') format('woff'), url('ttf/iosevka-ryanc-extendedextrabolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-ryanc-extraboldoblique.woff2') format('woff2'), url('woff/iosevka-ryanc-extraboldoblique.woff') format('woff'), url('ttf/iosevka-ryanc-extraboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('woff2/iosevka-ryanc-extraboldoblique.woff2') format('woff2'), url('woff/iosevka-ryanc-extraboldoblique.woff') format('woff'), url('ttf/iosevka-ryanc-extraboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/iosevka-ryanc-extendedextraboldoblique.woff2') format('woff2'), url('woff/iosevka-ryanc-extendedextraboldoblique.woff') format('woff'), url('ttf/iosevka-ryanc-extendedextraboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('woff2/iosevka-ryanc-extendedextraboldoblique.woff2') format('woff2'), url('woff/iosevka-ryanc-extendedextraboldoblique.woff') format('woff'), url('ttf/iosevka-ryanc-extendedextraboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-ryanc-heavy.woff2') format('woff2'), url('woff/iosevka-ryanc-heavy.woff') format('woff'), url('ttf/iosevka-ryanc-heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/iosevka-ryanc-extendedheavy.woff2') format('woff2'), url('woff/iosevka-ryanc-extendedheavy.woff') format('woff'), url('ttf/iosevka-ryanc-extendedheavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-ryanc-heavyitalic.woff2') format('woff2'), url('woff/iosevka-ryanc-heavyitalic.woff') format('woff'), url('ttf/iosevka-ryanc-heavyitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/iosevka-ryanc-extendedheavyitalic.woff2') format('woff2'), url('woff/iosevka-ryanc-extendedheavyitalic.woff') format('woff'), url('ttf/iosevka-ryanc-extendedheavyitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-ryanc-heavyoblique.woff2') format('woff2'), url('woff/iosevka-ryanc-heavyoblique.woff') format('woff'), url('ttf/iosevka-ryanc-heavyoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('woff2/iosevka-ryanc-heavyoblique.woff2') format('woff2'), url('woff/iosevka-ryanc-heavyoblique.woff') format('woff'), url('ttf/iosevka-ryanc-heavyoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/iosevka-ryanc-extendedheavyoblique.woff2') format('woff2'), url('woff/iosevka-ryanc-extendedheavyoblique.woff') format('woff'), url('ttf/iosevka-ryanc-extendedheavyoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka RyanC Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('woff2/iosevka-ryanc-extendedheavyoblique.woff2') format('woff2'), url('woff/iosevka-ryanc-extendedheavyoblique.woff') format('woff'), url('ttf/iosevka-ryanc-extendedheavyoblique.ttf') format('truetype');
}
