@subset-basic: U+0000-00A0;
@subset-extra: U+00A1-00BF,U+00D7,U+00F7,U+0391-03A9,U+03B1-03C9,U+2000-206F,U+20AC,U+2200-22FF;
@subset-latin: U+00C0-00D6,U+00D8-00F6,U+00F8-00FF,U+0300-036F,U+2070-20AB,U+20AE-20CF;
@subset-symbol: U+20D0-21FF,U+2300-2BFF,U+2E00-2E7F;
@subset-other: U+0370-0390,U+03AA-03B0,U+0400-1EFF,U+2C00-2DFF,U+2E80-10FFFF;

.font-inline(@family, @stem, @subset, @ranges) {

    @font-face {
        font-family: @family;
        src: data-uri("@{stem}-regular-@{subset}.@{font-format}") format("@{font-format}")
             if(@font-format = woff2, ~"," url("/theme/font/@{stem}-regular-@{subset}.woff") format("woff"));
        font-weight: 400;
        font-style: normal;
        unicode-range: @ranges;
    }

    @font-face {
        font-family: @family;
        src: data-uri("@{stem}-italic-@{subset}.@{font-format}") format("@{font-format}")
             if(@font-format = woff2, ~"," url("/theme/font/@{stem}-italic-@{subset}.woff") format("woff"));
        font-weight: 400;
        font-style: italic;
        unicode-range: @ranges;
    }

    @font-face {
        font-family: @family;
        src: data-uri("@{stem}-bold-@{subset}.@{font-format}") format("@{font-format}")
             if(@font-format = woff2, ~"," url("/theme/font/@{stem}-bold-@{subset}.woff") format("woff"));
        font-weight: 700;
        font-style: normal;
        unicode-range: @ranges;
    }

    @font-face {
        font-family: @family;
        src: url("/theme/font/@{stem}-bolditalic-@{subset}.@{font-format}") format("@{font-format}")
             if(@font-format = woff2, ~"," url("/theme/font/@{stem}-bolditalic-@{subset}.woff") format("woff"));
        font-weight: 700;
        font-style: italic;
        unicode-range: @ranges;
    }
}

.font-face(@family, @stem, @subset, @ranges) {

    @font-face {
        font-family: @family;
        src: url("/theme/font/@{stem}-regular-@{subset}.@{font-format}") format("@{font-format}")
             if(@font-format = woff2, ~"," url("/theme/font/@{stem}-regular-@{subset}.woff") format("woff"));
        font-weight: 400;
        font-style: normal;
        unicode-range: @ranges;
    }

    @font-face {
        font-family: @family;
        src: url("/theme/font/@{stem}-bold-@{subset}.@{font-format}") format("@{font-format}")
             if(@font-format = woff2, ~"," url("/theme/font/@{stem}-bold-@{subset}.woff") format("woff"));
        font-weight: 700;
        font-style: normal;
        unicode-range: @ranges;
    }

    @font-face {
        font-family: @family;
        src: url("/theme/font/@{stem}-italic-@{subset}.@{font-format}") format("@{font-format}")
             if(@font-format = woff2, ~"," url("/theme/font/@{stem}-italic-@{subset}.woff") format("woff"));
        font-weight: 400;
        font-style: italic;
        unicode-range: @ranges;
    }

    @font-face {
        font-family: @family;
        src: url("/theme/font/@{stem}-bolditalic-@{subset}.@{font-format}") format("@{font-format}")
             if(@font-format = woff2, ~"," url("/theme/font/@{stem}-bolditalic-@{subset}.woff") format("woff"));
        font-weight: 700;
        font-style: italic;
        unicode-range: @ranges;
    }
}
