{% extends "base.html" %}

{% block title %}Archives | {{ SITENAME }}{% endblock %}

{% block content %}
<div class="archive">
{% for article in dates %}
<div class="inside">
    <h2 class="entry-title"><a href="/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
    <div class="postmeta">
    <time class="published" title="{{ article.date.isoformat() }}" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
    |
    {% for author in article.authors %}
        <a href="/{{ author.url }}" title="Posts by {{ author|author_info('name') or author }}">{{ author|author_info('name') or author }}</a>
    {% endfor %}
    | Tags:
    {% for tag in article.tags -%}
    {{ " " }}<a href="/{{ tag.url }}">{{ tag }}</a>
    {%- endfor %}
    </div>
</div>
{% endfor %}
</div>
{% endblock %}
