{% extends "base.html" %}
{% block head %}
{{ super() }}
<meta name="referrer" content="unsafe-url">
{% endblock head %}
{% block title %}
{% if article.status == "draft" %}[DRAFT] {% endif -%}
{{ article.title|striptags }} | {{ SITENAME -}}
{% endblock title %}

{% block content %}
  <div class="article inside" itemprop="mainEntity" itemscope itemtype="http://schema.org/BlogPosting">
  <link itemprop="mainEntityOfPage" href="{{ output_file|canonical_url }}">
  <header>
    <h1 class="entry-title" itemprop="headline">
      <a href="/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}" itemprop="url">
         {% if article.status == "draft" %}[DRAFT] {% endif %}{{ article.title }}
      </a>
    </h1>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(article) }}
    {% if article.description %}
    <meta itemprop="description" content="{{ article.description|e }}">
    {% else %}
    <meta itemprop="description" content="{{ article.summary|striptags|wordtrunc(200) }}">
    {% endif %}
    {% if article.image %}
    <meta itemprop="image" content="{{ article.image|canonical_url }}">
    {% else %}
    <meta itemprop="image" content="{{ SITEURL }}/avatar3.png">
    {% endif %}
  </header>
  <div class="entry-content" itemprop="articleBody">
    <!--<p class="css-warning" aria-hidden="true" role="presentation">
      <strong>Note:</strong>
      You are viewing this blog post without the intended style information, which may result in formatting issues.
    </p>-->
    {{ article.content }}
  </div><!-- /.entry-content -->
  {% if article.author|author_info('twitter') %}
  <div class="call-to-action">
    If you enjoyed this,
    <a class="reference external" href="//twitter.com/intent/follow?screen_name={{ article.author|author_info('twitter') }}" rel="noreferrer">follow me on Twitter</a>
    for my latest posts.
  </div>
  {% endif %}
  <footer class="postmeta">
    {#/ Okay, this is just obnoxious... /#}
    <span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
      <meta itemprop="name" content="{{ SITENAME }}">
      <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
        <meta itemprop="url" content="{{ SITEURL }}/avatar3.png">
      </span>
    </span>
    Posted
    {% if article.authors %}
      by
      {% for author in article.authors %}
      <a href="/{{ author.url }}" title="Posts by {{ author|author_info('name') or author }}" itemprop="author" itemscope itemtype="http://schema.org/Person">
        {% if author|author_info('url') %}
        <meta itemprop="url" content="{{ author|author_info('url') }}">
        {% endif %}
        <span itemprop="name">{{ author|author_info('name') or author }}</span>{{ '' -}}
      </a>{% if not loop.last %}
      {% if loop.revindex > 2 -%}
      ,
      {% else -%}
      , and
      {% endif %}
      {% endif %}
      {% endfor %}
    {% endif %}
    {% if article.locale_date %}
    on
    <abbr class="published" title="{{ article.date.isoformat() }}" data-time="{{ article.date.strftime('%H:%M:%S%z') }}">{{ article.locale_date }}</abbr><meta itemprop="datePublished" content="{{ article.date.isoformat() }}">
    {%- endif %}
    {% if article.tags %}
    | Tags:
    {% for tag in article.tags -%}
    {{ " " }}<a href="/{{ tag.url }}" rel="tag">{{ tag }}</a>
    {%- endfor %}
    {% endif %}
    {% if article.modified %}
    <br>Last modified
    <abbr class="modified" title="{{ article.modified.isoformat() }}" data-time="{{ article.date.strftime('%H:%M:%S%z') }}">{{ article.locale_modified }}</abbr>.
    <meta itemprop="dateModified" content="{{ article.modified.isoformat() }}">
    {% elif article.locale_date %}
    <meta itemprop="dateModified" content="{{ article.date.isoformat() }}">
    {% endif %}
  </footer><!-- /.postmeta -->
  {% if article.footnotes %}{{ article.footnotes }}{% endif %}
  </div><!-- /.article -->
{% endblock %}
