{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" contents="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
  {% endfor %}

  {% if article.status == "draft" %}
    <meta name="robots" content="noindex, nofollow" />
  {% endif %}
{% endblock %}

{% block title %}
{% if article.status == "draft" %}[DRAFT] {% endif %}
{{ article.title|striptags }} | {{ SITENAME }}
{% endblock title %}

{% block content %}
  <div class="article">
  <div class="inside">
  <header>
    <h1 class="entry-title">
      <a href="/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}">
         {% if article.status == "draft" %}[DRAFT] {% endif %}{{ article.title }}
      </a>
    </h1>
  {% import 'translations.html' as translations with context %}
  {{ translations.translations_for(article) }}
  </header>
  <div class="entry-content">
    {{ article.content }}
  </div><!-- /.entry-content -->
  <footer class="postmeta"><small>
    Posted 
    {% if article.authors %}
      by
      {% for author in article.authors %}
          <a class="url fn" href="/{{ author.url }}" title="Posts by {{ AUTHOR_NAMES[author] or author }}">{{ AUTHOR_NAMES[author] or author }}</a>
      {% endfor %}
    {% endif %}
    on
    <abbr class="published" title="{{ article.date.isoformat() }}">
      {{ article.locale_date }}.
    </abbr>
	{% if article.modified %}
    <abbr class="modified" title="{{ article.modified.isoformat() }}">
      Last modified {{ article.locale_modified }}.
    </abbr>
	{% endif %}
    Tags:
    {% for tag in article.tags %}
        <a href="/{{ tag.url }}">{{ tag }}</a>
    {% endfor %}
  </small></footer><!-- /.postmeta -->
  </div><!-- /.inside -->
  </div><!-- /.article -->
{% endblock %}
