<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
<meta charset="utf-8">
{% block head %}
<title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
<meta name="viewport" content="width=device-width">
<link rel="alternate" hreflang="{{ DEFAULT_LANG }}" href="{{ output_file|canonical_url }}">
<link rel="canonical" href="{{ output_file|canonical_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<!-- order matters - the last applicable icon is used -->
<link rel="icon" href="/favicon.ico">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/svg+xml" href="/favicon.svg">
{% if FEED_ALL_ATOM %}
<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml"
      rel="alternate" title="{{ SITENAME }} Atom Feed">
{% endif %}
{% if FEED_ALL_RSS %}
<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml"
      rel="alternate" title="{{ SITENAME }} RSS Feed">
{% endif %}
{#/
{% if FEED_ATOM %}
<link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml"
      rel="alternate" title="{{ SITENAME }} Atom Feed">
{% endif %}
{% if FEED_RSS %}
<link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml"
      rel="alternate" title="{{ SITENAME }} RSS Feed">
{% endif %}
{% if CATEGORY_FEED_ATOM and category %}
<link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}"
      type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed">
{% endif %}
{% if CATEGORY_FEED_RSS and category %}
<link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS.format(slug=category.slug) }}"
      type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed">
{% endif %}
/#}
{% if TAG_FEED_ATOM and tag %}
<link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM.format(slug=tag.slug) }}"
      type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed">
{% endif %}
{% if TAG_FEED_RSS and tag %}
<link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS.format(slug=tag.slug) }}"
      type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed">
{% endif %}
<meta name="twitter:site" content="@ryancdotorg">
{%- endblock head %}

<style>{% include '/css/inline.css' %}</style>

{% if article and article.extracss %}
{% set extracss = article.extracss|split %}
{% elif page and page.extracss %}
{% set extracss = page.extracss|split %}
{% else %}
{% set extracss = [] %}
{% endif -%}

{% if article %}
<link rel="preload" href="/theme/css/iosevka-ryanc-woff2.css" as="style">
{% else %}
<link rel="prefetch" href="/theme/css/iosevka-ryanc-woff2.css" as="style">
{% endif %}

{% for css in extracss %}
<link rel="preload" href="{{ css }}" as="style">
{% endfor %}

{% if article or extracss|count %}
<script>{% include '/js/lazystyle.min.js' %}</script>
{% if article %}
<link rel="stylesheet" href="/theme/css/iosevka-ryanc-woff2.css" onload="this.media='all'">
{% endif %}
{% for css in extracss %}
<link rel="stylesheet" href="{{ css }}" onload="this.media='all'">
{% endfor %}
{% endif %}

<link rel="stylesheet" href="/theme/css/print.css" media="print">
<script>{% include '/js/head.bundle.js' %}</script>
</head>

<body>
  <div id="wrap"><!-- Begin Wrap -->
  <header id="banner">
    <!--<canvas style="z-index:-1"></canvas>-->
{#/
    <div id="social">
      {% for brand, user, link in SOCIAL %}
      <a href="{{ link }}" rel="me" title="My profile on {{ brand }}">
        <svg xmlns="http://www.w3.org/2000/svg">
          <use xlink:href="/theme/img/icons.svg#{{ brand }}"/>
        </svg>
        {{ user }}
      </a>
      {% endfor %}
    </div>
/#}
    <div itemscope itemtype="http://schema.org/WebSite" class="inside">
    <p class="name" itemprop="name"><a href="/" itemprop="url">{{ SITENAME }}</a></p>
    <h1 class="title"><a href="/">{{ SITETITLE }}</a></h1>
    <!--<p class="subtitle">{{ SITESUBTITLE }}</p>-->
    </div>
  </header>

  <nav id="menu">
    <span class="fll">
    <a href="/">Blog</a>
    {%- for title, link in MENUITEMS -%}
      <a href="{{ link }}">{{ title }}</a>
    {%- endfor -%}
    {% if DISPLAY_PAGES_ON_MENU %}
      {%- for p in pages -%}
        <a{% if p == page %} class="active"{% endif %} href="/{{ p.url }}">{{ p.title }}</a>
      {%- endfor -%}
    {% else %}
      {% if DISPLAY_CATEGORIES_ON_MENU %}
        {%- for cat, null in categories -%}
          <a{% if cat == category %} class="active"{% endif %} href="/{{ cat.url }}">{{ cat }}</a>
        {%- endfor -%}
      {% endif %}
    {% endif %}
    </span>
    <span class="flr" id="icons">
      {%- if SOCIAL -%}
      {%- for brand, user, link in SOCIAL -%}
      <a href="{{ link }}" rel="me" title="{{ user }}" style="background-image:url('*/theme/img/icon-{{ brand }}.png')">
        <span>my profile on {{ brand }}</span>
        <svg xmlns="http://www.w3.org/2000/svg">
          <use xlink:href="/theme/img/icons.svg#{{ brand }}"/>
        </svg>
      </a>
      {%- endfor -%}
      {%- endif -%}
      {%- if EMAIL -%}
      <a class="email" href="mailto:{{ EMAIL }}" title="email" style="background-image:url('*/theme/img/icon-Email.png')">
        <span>email me</span>
        <svg xmlns="http://www.w3.org/2000/svg">
          <use xlink:href="/theme/img/icons.svg#Email"/>
        </svg>
      </a>
      {%- endif %}
      {%- if FEED_ALL_RSS -%}
      <a href="/{{ FEED_ALL_RSS }}" title="RSS Feed" style="background-image:url('*/theme/img/icon-RSS.png')">
        <svg xmlns="http://www.w3.org/2000/svg">
          <use xlink:href="/theme/img/icons.svg#RSS"/>
        </svg>
      </a>
      {%- endif -%}
    </span>
  </nav><!-- /#menu -->

{#/
  <div id="sidebar">
  {% if SOCIAL %}
  <div class="widget inside" id="elsewhere">
    <h2>Elsewhere</h2>
    {% for brand, user, link in SOCIAL %}
      <a href="{{ link }}" rel="me">{{ brand }}</a>
    {% endfor %}
  </div><!-- /.widget -->

  <div class="spacer"></div><!-- hack for the mobile layout -->
  {% endif %}
/#}
{#/
  <div class="widget" id="tagcloud"><div class="inside">
    <ul><li><h2>Tags</h2></li></ul>
    <ul class="tagcloud">
      {% for tag in tag_cloud %}
        <li class="tag-{{ tag.1 }}"><a href="/{{ tag.0.url }}">{{ tag.0 }}</a></li>
      {% endfor %}
    </ul>
  </div></div><!-- /.widget -->
/#}
{#/
  {% if LINKS %}
  <div class="widget inside" id="blogroll">
    <h2>Blogroll</h2>
    {% for name, link in LINKS|sort %}
      <a href="{{ link }}">{{ name }}</a>
    {% endfor %}
  </div><!-- /.widget -->
  {% endif %}

  </div><!-- /#sidebar -->
/#}

  <section id="content">
  {% block content %}
  {% endblock %}
  </section>

  <footer id="contentinfo">
    <div id="ft_left">
      <p>Content &copy;{{ '%Y'|strfnow }}&nbsp;<a href="/about.html">Ryan Castellucci</a><br>
      Powered by <a href="https://getpelican.com/">Pelican</a>
      | <a href="/privacy.html">Privacy Policy</a></p>
    </div>
    <div id="ft_right">
      <p><a href="https://github.com/ryancdotorg/rya.nc-theme">Theme</a> based on
      <a href="http://www.theopensourcerer.com/this-theme/">Open Sourcerer</a>
      &copy;<a href="https://web.archive.org/web/20131105064339/http://www.theopenlearningcentre.com/">The Open Learning Centre</a>
      / <a href="https://www.gnu.org/licenses/gpl-3.0.html">GPLv3</a><br>
      Header image based on <a href="https://www.flickr.com/photos/profilerehab/4250721014/in/photostream/">Green circuit boards</a>
      &copy;<a href="https://www.flickr.com/photos/profilerehab/">Andrew Taylor</a>
      / <a href="https://creativecommons.org/licenses/by/2.0/">CC BY</a></p>
    </div>
  </footer><!-- /#contentinfo -->
  </div><!-- /#wrap -->

  <script src="/theme/js/etc.bundle.js" async></script>
</body>
</html>

