<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
{% if article %}
{% set this = article %}
{% elif page %}
{% set this = page %}
{% else %}
{% set this = {} %}
{% endif -%}
<head>
<meta charset="utf-8">
{% macro title() -%}
{% block title %}{{ SITENAME }}{% endblock title %}
{%- endmacro %}
{% block head %}
<title>{{ title() }}</title>
<meta name="viewport" content="width=device-width">
{% if this and this.robots %}
<meta name="robots" content="{{ this.robots }}">
{% elif article and article.status == "draft" %}
<meta name="robots" content="noindex, nofollow, noarchive, nosnippet, none">
{% endif %}
<link rel="alternate" hreflang="{{ DEFAULT_LANG }}" href="{{ output_file|canonical_url }}">
<link rel="canonical" href="{{ output_file|canonical_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<!-- order matters - the last applicable icon is used -->
<link rel="icon" href="/favicon.ico">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/svg+xml" href="/favicon.svg">
{% include 'feeds.html' %}
{% include 'meta.html' %}
{%- endblock head %}

<style>{% include '/css/inline.css' %}</style>

{% if this and this.extracss %}
{% set extracss = this.extracss|split %}
{% else %}
{% set extracss = [] %}
{% endif -%}

{% if article %}
<link rel="preload" href="/theme/css/iosevka-ryanc-woff2.css" as="style">
{% else %}
<link rel="prefetch" href="/theme/css/iosevka-ryanc-woff2.css" as="style">
{% endif %}

{% for css in extracss %}
<link rel="preload" href="{{ css }}" as="style">
{% endfor %}

{% if article or extracss|count %}
<script>{% include '/js/lazystyle.min.js' %}</script>
{% if article %}
<link rel="stylesheet" href="/theme/css/iosevka-ryanc-woff2.css" onload="this.media='all'">
{% endif %}
{% for css in extracss %}
<link rel="stylesheet" href="{{ css }}" onload="this.media='all'">
{% endfor %}
{% endif %}

<link rel="stylesheet" href="/theme/css/print.css" media="print">
<script>{% include '/js/head.bundle.js' %}</script>
</head>

<body itemscope itemtype="http://schema.org/WebSite">
  <div id="wrap"><!-- Begin Wrap -->
  <header id="banner">
    <!--<canvas style="z-index:-1"></canvas>-->
    <div class="inside">
    <p class="name" itemprop="name">
      <a href="/" itemprop="url">{{ SITENAME }}</a>
    </p>
    <p class="title">
      <a href="/">{{ SITETITLE }}</a>
    </p>
    <!--<p class="subtitle">{{ SITESUBTITLE }}</p>-->
    </div>
  </header>

  <nav id="menu">
    <span class="fll">
    <a href="/">Posts</a>
    {%- if MENUITEMS -%}
      {%- for title, url in MENUITEMS -%}
        {%- if url[0] == '/' and page and page.url == url[1:] -%}
          <a class="active" href="{{ url }}">{{ title }}</a>
        {%- else -%}
          <a href="{{ url }}">{{ title }}</a>
        {%- endif -%}
      {%- endfor -%}
    {%- elif DISPLAY_PAGES_ON_MENU -%}
      {%- for p in pages -%}
        {%- if p == page -%}
          <a class="active" href="/{{ p.url }}">{{ p.title }}</a>
        {%- else -%}
          <a href="/{{ p.url }}">{{ p.title }}</a>
        {%- endif -%}
      {%- endfor -%}
    {%- elif DISPLAY_CATEGORIES_ON_MENU -%}
      {%- for cat, null in categories -%}
        {%- if cat == category -%}
          <a class="active" href="/{{ cat.url }}">{{ cat }}</a>
        {%- else -%}
          <a href="/{{ cat.url }}">{{ cat }}</a>
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
    </span>
    <span class="flr" id="icons">
      {%- if SOCIAL -%}
      {%- for brand, user, link in SOCIAL -%}
      <a href="{{ link }}" rel="me" title="{{ user }}" style="background-image:url('*/theme/img/icon-{{ brand }}.png')">
        <span>my profile on {{ brand }}</span>
        <svg xmlns="http://www.w3.org/2000/svg">
          <use xlink:href="/theme/img/icons.svg#{{ brand }}"/>
        </svg>
      </a>
      {%- endfor -%}
      {%- endif -%}
      {%- if EMAIL -%}
      <a class="email" href="mailto:{{ EMAIL }}" title="email" style="background-image:url('*/theme/img/icon-Email.png')">
        <span>email me</span>
        <svg xmlns="http://www.w3.org/2000/svg">
          <use xlink:href="/theme/img/icons.svg#Email"/>
        </svg>
      </a>
      {%- endif %}
      {%- if FEED_ALL_RSS and FEED_ALL_ATOM -%}
      <a href="/{{ FEED_ALL_RSS|replace(".rss", ".xml") }}" title="RSS Feed" style="background-image:url('*/theme/img/icon-RSS.png')">
        <svg xmlns="http://www.w3.org/2000/svg">
          <use xlink:href="/theme/img/icons.svg#RSS"/>
        </svg>
      </a>
      {%- elif FEED_ALL_RSS -%}
      <a href="/{{ FEED_ALL_RSS }}" title="RSS Feed" style="background-image:url('*/theme/img/icon-RSS.png')">
        <svg xmlns="http://www.w3.org/2000/svg">
          <use xlink:href="/theme/img/icons.svg#RSS"/>
        </svg>
      </a>
      {%- elif FEED_ALL_ATOM -%}
      <a href="/{{ FEED_ALL_ATOM }}" title="Atom Feed" style="background-image:url('*/theme/img/icon-RSS.png')">
        <svg xmlns="http://www.w3.org/2000/svg">
          <use xlink:href="/theme/img/icons.svg#RSS"/>
        </svg>
      </a>
      {%- endif -%}
    </span>
  </nav><!-- /#menu -->

  <section id="content">
  {% block content %}
  {% endblock %}
  </section>

  <footer id="contentinfo">
    <div id="ft_left">
      <p>&copy;{{ '%Y'|strfnow }}&nbsp;<a href="/about.html">Ryan Castellucci</a>
      <span><br>Powered by <a href="https://getpelican.com/">Pelican</a> |
      <a href="/privacy.html">Privacy Policy</a></span></p>
    </div>
    <div id="ft_right">
      <p><a href="https://github.com/ryancdotorg/rya.nc-theme">Theme</a> based on
      <a href="http://www.theopensourcerer.com/this-theme/">Open Sourcerer</a>
      &copy;<a href="https://web.archive.org/web/20131105064339/http://www.theopenlearningcentre.com/">The Open Learning Centre</a>
      / <a href="https://www.gnu.org/licenses/gpl-3.0.html">GPLv3</a><br>
      Header image based on <a href="https://www.flickr.com/photos/profilerehab/4250721014/in/photostream/">Green circuit boards</a>
      &copy;<a href="https://www.flickr.com/photos/profilerehab/">Andrew Taylor</a>
      / <a href="https://creativecommons.org/licenses/by/2.0/">CC BY</a></p>
    </div>
  </footer><!-- /#contentinfo -->
  </div><!-- /#wrap -->

  <script src="/theme/js/etc.bundle.js" async></script>
</body>
</html>

