<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  {% block head %}
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="alternate" hreflang="en" href="{{ output_file|canonical_url }}" />
  <link rel="canonical" hreflang="en" href="{{ output_file|canonical_url }}" />
  <link rel="preload" href="/theme/img/header-thin-1200.png" as="image" />
  <link rel="stylesheet" type="text/css" href="/theme/css/style.css" />
  <link rel="shortcut icon" href="/theme/img/favicon.ico" />
  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
  {% endif %}
  {% if FEED_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
  {% endif %}
  {% if FEED_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
  {% endif %}
  {% if CATEGORY_FEED_ATOM and category %}
  <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
  {% endif %}
  {% if CATEGORY_FEED_RSS and category %}
  <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
  {% endif %}
  {% if TAG_FEED_ATOM and tag %}
  <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
  {% endif %}
  {% if TAG_FEED_RSS and tag %}
  <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
  {% endif %}
  <meta name="twitter:site" content="@ryancdotorg" />
  {% endblock head %}
</head>

<body id="index" class="home">
  <div id="wrap"><!-- Begin Wrap -->
  <header id="banner"><div class="inside">
    <p class="name"><a href="/">{{ SITENAME }}</a></p>
    <h1 class="title"><a href="/">{{ SITETITLE }}</a></h1>
    <!--<p class="subtitle">{{ SITESUBTITLE }}</p>-->
  </div></header><!-- /#banner -->
  <nav id="menu"><ul>
  <li class="page_item"><a href="/">Home</a></li>
  {% for title, link in MENUITEMS %}
    <li><a href="{{ link }}">{{ title }}</a></li>
  {% endfor %}
  {% if DISPLAY_PAGES_ON_MENU %}
    {% for p in PAGES %}
      <li class="page_item{% if p == page %} current_page_item{% endif %}">
        <a href="/{{ p.url }}">{{ p.title }}</a>
      </li>
    {% endfor %}
  {% else %}
    {% if DISPLAY_CATEGORIES_ON_MENU %}
      {% for cat, null in categories %}
        <li{% if cat == category %} class="active"{% endif %}>
          <a href="/{{ cat.url }}">{{ cat }}</a>
        </li>
      {% endfor %}
    {% endif %}
  {% endif %}
  </ul></nav><!-- /#menu -->

  <div id="sidebar">
  {% if SOCIAL %}
  <div class="widget" id="elsewhere"><div class="inside">
    <ul><li><h2>Me Elsewhere</h2></li></ul>
    <ul>
      {% for name, link in SOCIAL %}
        <li><a href="{{ link }}" rel="me">{{ name }}</a></li>
      {% endfor %}
    </ul>
  </div></div><!-- /.widget -->
  <div class="spacer"></div><!-- hack for the mobile layout -->
  {% endif %}
  <div class="widget" id="tagcloud"><div class="inside">
    <ul><li><h2>Tags</h2></li></ul>
    <ul class="tagcloud">
      {% for tag in tag_cloud|msort(attributes=[1,0]) %}
        <li class="tag-{{ tag.1 }}"><a href="/{{ tag.0.url }}">{{ tag.0 }}</a></li>
      {% endfor %}
    </ul>
  </div></div><!-- /.widget -->
  {% if LINKS %}
  <div class="widget" id="blogroll"><div class="inside">
    <ul><li><h2 title="I think 'Blogroll' is a dumb word, but I couldn't come up with a better one.">Blogroll</h2></li></ul>
    <ul>
      {% for name, link in LINKS|sort %}
        <li><a href="{{ link }}">{{ name }}</a></li>
      {% endfor %}
    </ul>
  </div></div><!-- /.widget -->
  {% endif %}

  </div><!-- /#sidebar -->

  <section id="content">
  {% block content %}
  {% endblock %}
  </section>

  <footer id="contentinfo"><div class="inside">
    <div id="ft_left">
      <p>Site Contents &copy;{{ '%Y'|strfnow }}&nbsp;<a href="/about.html">Ryan Castellucci</a><br/>
      Powered by <a href="http://getpelican.com/">Pelican</a></p>
    </div>
    <div id="ft_right">
      <p>Theme based on <a href="http://www.theopensourcerer.com/this-theme/">Open Sourcerer</a> &copy;<a href="http://www.theopenlearningcentre.com">The Open Learning Centre</a><br/>
      Header image based on <a href="http://www.flickr.com/photos/profilerehab/4250721014/in/photostream/">Green circuit boards</a> &copy;<a href="http://www.flickr.com/photos/profilerehab/">Andrew Taylor</a></p>
    </div>
  </div></footer><!-- /#contentinfo -->
  </div><!-- /#wrap -->
  <!-- START headerTags.cfm trolololol -->
  <script type="text/javascript">
  if (location.hostname == 'ryanc.org') {
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.src = 'https://rya.nc/theme/js/redir.js';
    document.body.appendChild(s);
  }
  </script>
</body>
</html>
<!--
vim: ts=2 sw=2 et bg=dark
-->
