{% extends "base.html" %}

{% block title %}{{ SITETITLE }} | {{ SITENAME }}{% endblock %}

{% block head %}
{% if articles_page.number > 1 or (page_name != 'index' and (not category or category == 'articles')) %}
<meta name="robots" content="noindex, follow">
{% endif %}
{{ super() }}
<meta name="description" content="{{ SITEDESC }}">
{% endblock %}

{% block content %}
{% for article in articles_page.object_list %}
{% if article.category == 'articles' or page_name != 'index' %}
{% include 'summary.html' %}
{% endif %}
{% endfor %}
{% include 'pagination.html' %}
{% endblock content %}
