{% block meta %}
{#/ https://moz.com/blog/meta-data-templates-123 /#}
{% if this.description %}
<meta name="description" content="{{ this.description|wordtrunc(155) }}">
{% elif this.summary %}
<meta name="description" content="{{ this.summary|striptags|wordtrunc(155) }}">
{% endif %}
<!-- twitter article metadata -->
<meta name="twitter:card" content="summary">
{% if this.label1 and this.data1 %}
<meta name="twitter:label1" content="{{ this.label1 }}">
<meta name="twitter:data1" content="{{ this.data1 }}">
{% endif %}
{% if this.label2 and this.data2 %}
<meta name="twitter:label2" content="{{ this.label2 }}">
<meta name="twitter:data2" content="{{ this.data2 }}">
{% endif %}
{% if article and article.author|author_info('twitter') %}
<meta name="twitter:creator" content="@{{ article.author|author_info('twitter') }}">
{% endif %}
<!-- open graph article metadata -->
<meta property="og:title" content="{{ this.title|striptags|e }}">
<meta property="og:type" content="article">
<meta property="og:url" content="{{ output_file|canonical_url }}">
<meta property="og:site_name" content="{{ SITENAME }}">
{% if this.description %}
<meta property="og:description" content="{{ this.description|e }}">
{% elif this.summary %}
<meta property="og:description" content="{{ this.summary|striptags|wordtrunc(200) }}">
{% endif %}
{% if this.image %}
<meta property="og:image" content="{{ this.image|canonical_url }}">
{% if this.image_alt %}
<meta property="og:image:alt" content="{{ this.image_alt }}">
{% endif %}
{% else %}
<meta property="og:image" content="{{ SITEURL }}/avatar3.png">
{% endif %}
{% if article %}
{% for tag in article.tags %}
<meta property="article:tag" content="{{ tag }}">
{% endfor %}
{% endif %}
{% if article and article.locale_date %}
<meta property="article:published_time" content="{{ article.date.isoformat() }}">
{% endif %}
{% if article and article.modified %}
<meta property="article:modified_time" content="{{ article.modified.isoformat() }}">
{% elif artile and article.locale_date %}
<meta property="article:modified_time" content="{{ article.date.isoformat() }}">
{% endif %}
<meta name="twitter:site" content="@ryancdotorg">
{% endblock meta %}
